# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [8]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df

           station       date  prcp  tobs
0      USC00519397 2010-01-01  0.08    65
1      USC00519397 2010-01-02  0.00    63
2      USC00519397 2010-01-03  0.00    74
3      USC00519397 2010-01-04  0.00    76
4      USC00519397 2010-01-06   NaN    73
...            ...        ...   ...   ...
19545  USC00516128 2017-08-19  0.09    71
19546  USC00516128 2017-08-20   NaN    78
19547  USC00516128 2017-08-21  0.56    76
19548  USC00516128 2017-08-22  0.50    76
19549  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

In [10]:
# Set the date column as the DataFrame i
date_df = df.set_index("date", inplace = True)

KeyError: "None of ['date'] are in the columns"

In [ ]:
# Drop the date column

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [ ]:
# Filter data for desired months

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis